/* form */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-section {
    width: 40%;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h4 {
    padding: 24px 0px;
}

form > input, textarea {
    margin: 6px 0px;
}

.contact-section {
    width: 20%;
    padding: 20px;
}

input {
    height: 2em;
    width: 50%;
    padding: 0px 10px;
}

#messagebox {
    width: 90%;
    height: 200px;
    padding: 5px 10px;
}

button {
    align-self: center;
}

form>p {
    color: red;
    font-size: 0.7em;
}

@media (max-width: 992px) {
    input, #messagebox {
        width: 100%;
    }

    .form-section {
        width: 50%;
    }

    .contact-section {
        width: 30%;
    }
}

@media (max-width: 600px) {

    .form-section,
    .contact-section {
        width: 80%;
        text-align: center;
    }
}