/* Theme CSS deals only with: text-colour, background colours, border style */
h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.box-style-1 {
    outline: 1px solid black;
    box-shadow: 1px 1px 1px grey;
}

.box-style-2 {
    outline: 1px solid black;
    box-shadow: 1px 1px 1px grey;
}

.button-style-1 {
    background-color: grey;
    border-radius: 5%;
    padding: 4px 6px;
    color: white;
    box-shadow: 1px 1px 1px black;
}

.button-style-2 {
    border-radius: 5%;
    padding: 12px 24px;
    font-size: 1.2em;
    font-weight: bold;
}

.background-dark-1 {
    background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(107, 107, 107) 100%);
}