/* Theme CSS deals only with: text-colour, background colours, border style */
body {
    margin: 0px;
    background-color: rgb(71, 66, 66, 0.9);
}

h2, h3, h4, label, h5 {
    color: lightblue;
}

p {
    color:rgb(235, 235, 235);
    margin: 0;
}

h2 {
    text-align: center;
    margin: 0px 0px;
    font-size: 2.5em;
}

h3 {
    text-align: left;
    border-bottom: 2px lightblue solid;
    margin: 0;
}

h4 {
    text-align: center;
    font-style: italic;
    margin: 0;
}

h5 {
    text-align: left;
    font-style: italic;
    margin: 0;
}

.box-style-1 {
    border: 1px solid black;
    box-shadow: 1px 1px 1px grey;
    margin: 10px 0px;
}

.box-style-2 {
    border: 2px solid lightblue;
    box-shadow: 1px 1px 1px grey;
    margin: 10px 0px;
}

.box-style-3 {
    background-color: rgb(50, 200, 200, 0.5);
}

.button-style-1 {
    background-color: grey;
    border-radius: 5%;
    padding: 4px 6px;
    color: white;
    box-shadow: 1px 1px 1px black;

}

.button-style-2 {
    border-radius: 5%;
    padding: 12px 24px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background-color: grey;
    box-shadow: 1px 1px 1px 1px black;
}

.background-dark-1 {
    background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(107, 107, 107) 100%);
}

.text-light-blue {
    color: lightblue;
}
