* {
    box-sizing: border-box;
    outline: 1px dotted transparent;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}

a {
    text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: 33% 67%;
    background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(107, 107, 107) 100%);
}

h1 {
    margin: 0px;
    color: white;
    text-align: center;
}

.main-logo {
    margin: 10px;
    width: 100px;
    height: 100px;
}

.left-section {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-section {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.right-section>* {}

.phone {
    align-self: flex-end;
    color: white;
    margin: 4px;
}

.contact-button {
    color: white;
}

nav {
    display: flex;
    justify-content: flex-end;
    height: 48px;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .nav-button {
    background-color: lightgrey;
    border-bottom: 2px solid black;
    transition: 1s ease-in-out;
}

.dropdown-link {
    display: block;
    padding: 0px 10px;
    margin: 0px 20px;
    height: 48px;
    line-height: 48px;
}

.dropdown {
    text-align: left;
}

.nav-button {
    color: white;
    padding: 10px;
    line-height: 48px;
    margin: 20px;
    border-bottom: 2px solid transparent;
}