* {
    box-sizing: border-box;
    outline: 1px dotted transparent;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    background-color: rgb(167, 145, 145);
}

.hidden {
    display: none;
}

.container {


}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    border-bottom: 5px blue solid;
}

/* left part of theader */

h1 {
    margin: 0px;
    color: white;
    text-align: center;
}

.main-logo {
    margin: 10px;
    max-width: 100px;
    max-height: 100px;
}

.left-section {
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;


}

.right-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

.phone {
    align-self: flex-end;
    color: white;
    margin: 0px 20px;
}

.phone > * {
    font-size: 70%;
}

.contact-button {
    color: white;
}

/* Navigation dropdowns */

nav {

}

.standard-nav {
    display: flex;
    justify-content: flex-end;
    height: 48px;
    align-items: flex-end;
}

.dropdown {



}

.nav-button {
    color: white;
    line-height: 48px;
    padding: 13px 20px;
    transition: 1s ease-in-out;
    border-bottom: 2px solid transparent;

}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .nav-button {
    background-color: lightgrey;
    border-bottom: 2px solid black;

}

.dropdown-link {
    display: block;
    padding: 0px 14px;
    margin: 0px 0px;
    background-color: grey;
    line-height: 48px;
    transition: 1s ease-in-out;
}

.dropdown-link:hover {
    background-color: red;
}



/* Mobile burger menu */

.mobile-nav {
    display: none;
    float: right;
    border: 1px white solid;
    border-radius: 10%;
    width: 50px;
    padding: 10px;
    font-size: 1.2em;
}

.accordion-menu {
    z-index: 1;
    text-align: right;
}

.accordion-link {
    display: block;
    background-color: black;
}

/* Footer */

footer {
    margin-top: 24px;
}

@media (max-width: 992px) {
    .left-section {
        width: 33%;
    }

    .right-section {
        width: 67%;
    }
}


@media (max-width: 600px) {
    .standard-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .dropdown-content {
        right: 0;
    }

    .left-section {
        width: 67%;
    }

    .right-section {
        width: 20%;
        justify-content: center;

    }

    .main-logo {
        margin: 5px;
        max-width: 70px;
        max-height: 70px;
    }

    .phone {
        display: none;
    }


}