* {
    box-sizing: border-box;
    outline: 0px dotted white;
    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    border-bottom: 5px solid lightgray;
}


/* left part of header */

h1 {
    margin: 0px;
    text-shadow: 2px 2px grey;
    text-align: center;
    font-size: 2.5em;
}

.main-logo {
    margin: 10px;
    max-width: 100px;
    max-height: 100px;
}

.left-section {
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.phone {
    align-self: flex-end;
    margin: 0px 20px;
}

.phone>* {
    font-size: 70%;
}


/* Navigation dropdowns */

.standard-nav {
    display: flex;
    justify-content: flex-end;
    height: 48px;
    align-items: flex-end;
}

.nav-button {
    line-height: 48px;
    padding: 13px 20px;
    transition: 1s ease-in-out;
    border-bottom: 4px solid transparent;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .nav-button {
    background-color: rgb(202, 202, 202);
    border-bottom: 4px solid rgb(0, 2, 128);
}

.dropdown-link {
    display: block;
    padding: 0px 14px;
    margin: 0px 0px;
    background-color: rgb(202, 202, 202);
    line-height: 48px;
    transition: 1s ease-in-out;
    border-bottom: 4px solid transparent;
}

.dropdown-link:hover {
    background-color: rgb(134, 134, 134);
    border-bottom: 4px solid rgb(0, 2, 128);
}

.current-page {
    border-bottom: 4px solid rgb(0, 2, 128);
    background-color: rgb(134, 134, 134, 0.2);
}


/* Mobile burger menu */

.mobile-nav {
    display: none;
    float: right;
    border: 1px white solid;
    border-radius: 10%;
    width: 50px;
    padding: 10px;
    font-size: 1.2em;
}

.accordion-menu {
    text-align: left;
    margin: auto;
    border-bottom: 3px solid rgb(69, 69, 218);
}

ul {
    list-style: none;
    padding-left: 0px;
}

li {
    padding: 10px;
}

.accordion-link {
    display: inline-block;
    padding: 10px;
    width: 100%;
}


/* Footer */

footer {
    padding: 100px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 3px solid lightgray;
}

footer>div {
    width: 20%;
    padding: 24px;
    text-align: center;
    margin: 24px;
}

.social-logo {
    width: 50px;
    height: 50px;
}

@media (max-width: 992px) {
    .left-section {
        width: 33%;
    }
    .right-section {
        width: 67%;
    }
}

@media (max-width: 600px) {
    .standard-nav {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
    .left-section {
        width: 67%;
    }
    .right-section {
        width: 20%;
        justify-content: center;
    }
    .main-logo {
        margin: 5px;
        max-width: 70px;
        max-height: 70px;
    }
    .phone {
        display: none;
    }
    footer {
        padding: 20px 0px;
    }
    footer>div {
        width: 100%;
        padding: 12px auto 24px auto;
        margin: 12px;
    }
}