* {}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.background-pic {
    z-index: -1;
    width: 100%;

}

/* Form */

form {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 500px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.form-heading {
    width: 99%;
    padding: 24px 0px;
}


.calendar {
    width: 49%;
    border-radius: 20px 0px 0px 20px;
}

.time {
    width: 49%;
    border-radius: 0px 20px 20px 0px;
}

select {
    width: 99%;
    border-radius: 20px;
}

.time::before {
    content: "\2003\1f551\2003";
}

.calendar::before {
    content: "\2003\1f4c5\2003";
}

#submit-button {
    display: block;
    margin: 32px auto 12px auto;
    width: 50%;
}

/* Bottom */

#cookie {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50%;
    border: 1px solid black;
    padding: 10px 20px;
    background-color: brown;
    transition: 0.5s ease-in-out;
}

@media (max-width: 992px) {
    form {
        left: 50%;
        margin-left: -250px;
        top: 50%;
        margin-top: -170px;
    }
}

@media (max-width: 600px) {
    .background-pic {
        display: none;
    }

    form {
        width: 80%;
        position: unset;
        margin: 20px auto;
    }

    .time,
    .calendar {
        width: 100%;
        border-radius: 20px;
        font-size: 1.2em;
    }

    select {
        font-size: 1.4em;
    }
}