main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.background-pic {
    z-index: 0;
    width: 100%;
}


/* Form */

form {
    z-index: 1;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 500px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.form-heading {
    width: 99%;
    padding: 24px 0px;
}

.calendar {
    width: 49%;
    border-radius: 20px 0px 0px 20px;
}

.time {
    width: 49%;
    border-radius: 0px 20px 20px 0px;
}

select {
    width: 99%;
    border-radius: 20px;
}

.time::before {
    content: "\2003\1f551\2003";
}

.calendar::before {
    content: "\2003\1f4c5\2003";
}

#submit-button {
    display: block;
    margin: 32px auto 12px auto;
    width: 50%;
}


/* Upsell */

.upsell {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0px auto 24px auto;
    border-top: 5px rgb(51, 51, 51) solid;
}

.upsell>h3 {
    width: 100%;
    margin-top: 24px;
}

.upsell>p {
    width: 20%;
    padding: 6px 12px;
    text-align: center;
    border: 1px solid black;
    border-radius: 12px;
    margin: 12px;
}

.upsell>p:before {
    content: "\2713\0020";
    color: green;
    font-weight: 900;
}


/* Quick links */

.quick-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 12px;
    display: none;
    margin-bottom: 24px;
}

.quick-links>h3 {
    width: 100%;
}

.car-type-box {
    width: 45%;
    margin: 4px;
}

.car-type-box>img {
    width: 100%;
}

.car-type-box>p {
    text-align: center;
    width: 33%;
    color: black;
    z-index: 1;
    background-color: white;
    margin: 0;
}


/* Bottom */

#cookie {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 1px solid black;
    padding: 10px 20px;
    background-color: rgb(50, 42, 165);
    transition: 0.5s ease-in-out;
}

@media (max-width: 992px) {
    form {
        left: 50%;
        margin-left: -250px;
        top: 50%;
        margin-top: -170px;
    }
}

@media (max-width: 600px) {
    .background-pic {
        display: none;
    }
    .car-type-box>p,
    .upsell>p {
        width: 100%;
    }
    form {
        width: 90%;
        position: unset;
        margin: 20px 12px;
    }
    .time,
    .calendar {
        width: 100%;
        border-radius: 20px;
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    select {
        font-size: 1.4em;
    }
    .quick-links {
        display: flex;
    }
}