main * {
    outline: 0px solid yellow;
}

main {
    margin-bottom: 36px;
    max-width: 1400px;
    margin: auto;
}

.box-vehicle {
    width: 100%;
    display: flex;
    margin: 24px auto 48px auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.car-image {
    width: 50%;
}

.box-description {
    padding: 12px;
    width: 35%;
    display: flex;
    flex-direction: column;
}

.box-description > div {
color: lightblue;
}

.car-name {
    font-size: 2em;
    border-bottom: 2px solid lightblue;
    margin-bottom: 6px;
    text-align: center;
}

.car-type {
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
}

button {
    width: 33%;
    align-self: center;
    justify-self: flex-end;
    margin: auto;
}

.car-features {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

}

.car-description {
    width: 75%;
    margin: auto;
}

.car-features > div {
    width: 40%;
    padding: 8px 12px;

}

@media (max-width: 992px) {

    .car-image {
        width: 90%;
        margin: 12px 0px;
    }

    .car-description {
        width: 90%;
        margin: 12px;
    }

    .box-description {
        width: 90%
    }
}

@media (max-width: 600px) {
    .car-image, .box-description {
        width: 100%;
    }
}
